/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    animation: appearance ease-out 0.5s;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    animation: appearanceWithScale ease-out 1s;
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 60px;    
}

.heading-primary-main {
    font-size: 60px;
    display: block;
    letter-spacing: 36.12px;
    font-weight: 400;
    animation: appearanceLeftToRight ease-out 1s;    
    backface-visibility: hidden;
}

.heading-primary-sub {
    font-size: 20px;
    display: block;
    letter-spacing: 18px;
    font-weight: 700;    
    animation: appearanceRightToLeft ease-out 1s;
}

.btn:link,
.btn:visited {
    border-radius: 50;        
    text-decoration: none;
    padding: 15px 35px;
    text-transform: uppercase;
    border-radius: 20px;
    display: inline-block;
    animation: appearanceBottomToTop ease-out 1s;
    transition: all ease-out .2s;
    backface-visibility: hidden;    
}

.btn:hover {
    font-size: 1.01em;
    transform: scale(1.02) translateY(-2px);
    box-shadow: 0px 10px 25px -20px rgba(0,0,0,0.75);    
}

.btn:active {
    transform: scale(1.01);
    box-shadow: 0px 10px 15px -20px rgba(0,0,0,0.7);
}

.btn-white {
    background-color: #FFF;
    color: #777;
}

.btn-white:hover {
    background-color: rgb(252, 252, 252);
}

.btn::after {
    content: "";
    display: inline-block;    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    transition: all .2s;
}

.btn:hover::after {
    transform: scale(1.2) translateY(-10px);
    opacity: 0;
}

.btn-white::after {    
    background-color: #FFF;    
}

.btn-bouncy {
    animation: bouncy 5s 10s 2 linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top:0em;
    }
    40% {
        top:0em;
    }
    43% {
        top:-0.45em;        
    }
    46% {
        top:0em;
    }
    48% {
        top:-0.2em;
    }
    50% {
        top:0em;
    }
    100% {
        top:0em;
    }
} 

@keyframes appearance {
    from {
        opacity: 0;        
    }
    to {
        opacity: 100;
    }
}

@keyframes appearanceWithScale {
    from {
        opacity: 0;
        transform: scale(0.90);
    }
    to {
        opacity: 100;      
        transform: scale(1);  
    }
}

@keyframes appearanceLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-10%) scale(0.9);
    }

    80% {
        transform: translateX(0.5%)  scale(1);
    }

    100% {
        opacity: 100;
        transform: translate(0);
    }
}

@keyframes appearanceRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(10%) scale(0.9);
    }

    80% {
        transform: translateX(-0.5%) scale(1);
    }

    100% {
        opacity: 100;
        transform: translate(0);
    }
}

@keyframes appearanceBottomToTop {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    to {
        opacity: 100;
        transform: translate(0) scale(1);;
    }
}